*{
	padding: 0;
	margin: 0;
}

body{
		background: url(http://68.media.tumblr.com/bb6fa5fbdedea5be08bfaca08a853c93/tumblr_nwn7shUcQP1qa763mo1_500.gif);
}

main{
	height: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
		
}

#block{
	position: absolute;
	width: 80%;
	height: 60%;
	background: white;
}

#block table{
	width: 100%;
	height: 100%;
	text-align: center;
	
}

#top ul{
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #adf442;
	display: flex;
	justify-content:space-around;
	flex-direction:row;
	 width: 100%;
	 height: 80px;
	 justify-content:center;
}

#currentT{
	font-family:"Droid Serif";
	font-size: 28px;
	font-style: italic;
	font-weight: 800;
	color: white;
}

li button{

	vertical-align: middle;
	text-align: center;
	background-color: #adf442;
	padding-top: 5px;
}

#top ul li{
	vertical-align: center;
	list-style: none;
	margin-right: 30px;
}

li i{
	vertical-align: middle;
}

table thead{
	background-color:#adf442 ;
	font-size: 30px;
	color: white;
	padding-bottom: 12px;
}

th{

}

td{
	font-size: 24px;
	font-family: "Droid Serif";
}